<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div class="login-logo"></div>
    <form action method="post">
        <div class="login-form field" id="t_form">
            <div class="home-name">
                <label for="form-name">Username:</label>
                <input type="text" id="form-name" name="name" size="10" maxlength="20" class="home-name-input" required autocomplete="on">
            </div>

            <div class="home-submit">
                <input type="submit" name="login" value="ENTER" class="submit-input home-submit-input">
            </div>
        </div>
    </form>

</body>
</html>