.login-logo {
    width: 366px;
    height: 366px;
    margin: 50px auto;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjA0MCIgaGVpZ2h0PSIyMDQwIiB2aWV3Q…43NjMgNy4xMDMtMTUuODcgMTUuODY2LTE1Ljg3Ii8+PC9nPjwvZz48L2c+PC9nPjwvc3ZnPg==) no-repeat;·
background-size: 366px 366px;
}